* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #222222;
  background-color: #ffffff;
  text-align: center;
  line-height: 1.5;
}

.nav-logo {
  flex: 1;
  display: flex;
  align-self: center;
  align-content: start;
}

.csf_logo {
  background: url("../img/eeeeee-snackfinder-stacked-logo.png") no-repeat center center ;
  /*background-size: cover;*/
  padding: 100px  0 75px 0;
}

.content {
  flex: 1 0 auto;
}

.ciclismo-img {
  width: 310px;
  height: auto;
  padding-bottom: 0;
}

.snack-finder-img {
  width: 310px;
  height: auto;
  padding-bottom: 0;
}

.main-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;
}


.main-left {
  visibility: hidden;
  display: none;
  flex: 1;
  background: url("../img/eeeeee-side-logo.png") no-repeat center center ;
  background-size: cover;
  height: 100%;
}

.main-right {
  visibility: hidden;
  display: none;
  flex: 1;
  background: url("../img/eeeeee-side-logo.png") no-repeat center center ;
  background-size: cover;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 100%;
}

.landing {
  align-self: center;
  flex-direction: column;
  width: 310px;
  padding: 5% 0 20px 0;
}

.results {
  text-align: center;
  width: 320px;
}

#map {
  width: 320px;
  height: 200px;
}

#results-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 320px;
}

#results-list li {
  display: flex;
  align-self: center;
  text-align: left;
  font-size: 13px;
  width: 100%;
  height: auto;
  padding: 2px;
  margin: 3px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  cursor: pointer;
}

#results-list li:hover {
  border: 1px solid #bc3908;
}

.list-item-desc {
  flex: 2;
}

.list-item-img {
  flex: 1;
  align-self: center;
  border-left: 1px solid #ccc981;
  border-radius: 2px;
  background-color: #ccc981;
}

.start-button {
  padding: 15px;
  background-color: #eeeeee;
  color: #000000;
  font-size: 16px;
  border:1px solid #a9a9a9a9;
  border-radius: 3px;
  margin-bottom: 5px;
  text-transform: lowercase;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 90%;
  text-align: center;
}

.start-button:hover {
  color: #bc3908;
  border:1px solid #bc3908;
}


footer {
  visibility: hidden;
  /*flex-shrink: 0;*/
  /*margin-top: 5px;*/
  background-color: #bc3908;
  /*box-shadow: 0 -2px 2px -2px #a5be00;*/
}

nav {
  visibility: hidden;
  display: none;
  /*display: flex;*/
  flex-direction: row;
  position: fixed;
  padding: 0;
  background-color: #bc3908;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 50px;
}

.snack-img {
  height: 34px;
  width: 34px;
}

.hamburger {
  flex: 1;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  padding: 5px;
  margin-right: 5px;
  color: #ebf2fa;
  cursor: pointer;
}

.nav_bar {
  visibility: hidden;
  display: none;
}

.nav_bar_home, .nav_bar_favorites, .nav_bar_about {
  align-self: center;
  background-color: #a5be00;
}

.nav_panel {
  background-color: #bc3908;
  display: none;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 65px 0 0 0;
}

.nav_panel_button {
  padding: 15px;
  background-color: #bc3908;
  color: #ebf2fa;
  font-size: 16px;
  border: 0;
  text-transform: lowercase;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.nav_bar_button {
  align-self: center;
  padding: 15px;
  background-color: #bc3908;
  color: #ebf2fa;
  font-size: 16px;
  border: 0;
  text-transform: lowercase;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.nav_panel_button:hover {
  color: #eeeeee;
  background-color: #a9a9a9;
}

.nav_bar_button:hover {
  color: #eeeeee;
  background-color: #a9a9a9;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 5;
  height: 100%;
  margin-top: 60px;
}

.search-option-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 320px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.top-options-spacer {
  width: 100%;
  height: 15px;
  margin: 0 0 20px 0;
  background-color: #eeeeee;
}

.options-spacer {
  width: 100%;
  height: 15px;
  margin: 20px 0 20px 0;
  background-color: #eeeeee;
}

.option-switchs {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-content: center;
  padding: 0;
}

.switch-row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-self: center;
  width: 100%;
  padding: 0;
  /*border: 1px solid #a5be00;*/
}

.switch-row-div1, .switch-row-div2 {
  align-self: center;
  width: 100%;
  padding: 10px 5px 10px 5px;
}

.slider-row {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px 0 10px 0;
}

.other-location {
  width: 100%;
  height: 40px;
}

.location {
  width: 100%;
  margin: 15px 0 15px 0;
}

.other-location-value {
  visibility: hidden;
  display: none;
  width: 70%;
  height: 36px;
  padding: 0 5px 0 5px;
  border: 1px solid #000000;
  margin: 0 15% 0 15%;
}

.find-snacks-button {
  padding: 15px;
  color: #000000;
  background-color: #eeeeee;
  font-size: 16px;
  border: 0;
  border-radius:0 0 0 3px;
  text-transform: lowercase;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.find-snacks-button:hover {
  color: #bc3908;
  border:1px solid #bc3908;
}

/*-------------------------------------------*/
/*switch begin*/
/*-------------------------------------------*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 36px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  border:1px solid #000000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #a9a9a9;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #bc3908;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a9a9a9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  border: 1px solid #a9a9a9;
}
/*-------------------------------------------*/
/*switch end*/
/*-------------------------------------------*/

/*-------------------------------------------*/
/*bar slider begin*/
/*-------------------------------------------*/
.slider-row {
  display: flex;
  align-self: center;
  width: 70%; /* Width of the outside container */
}

.slider-row > div {
  flex: 1;
}

/* The slider itself */
.slider-bar {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 34px; /* Specified height */
  border-radius: 20px;
  background: #eeeeee;
  border: 1px solid #000000;
  outline: none; /* Remove outline */
  /*opacity: 0.7; !* Set transparency (for mouse-over effects on hover) *!*/
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider-bar:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider-bar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 26px; /* Set a specific slider handle width */
  height: 26px; /* Slider handle height */
  border-radius: 50%;
  background: #a9a9a9;
  cursor: pointer; /* Cursor on hover */
}

.slider-bar::-moz-range-thumb {
  width: 26px; /* Set a specific slider handle width */
  height: 26px; /* Slider handle height */
  border-radius: 50%;
  background: #a9a9a9; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
/*-------------------------------------------*/
/*bar slider end*/
/*-------------------------------------------*/

/*-------------------------------------------*/
/*The Modal begin*/
/*-------------------------------------------*/
/* The Modal (background) */
.snack-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-about-content,
.modal-directions-content {
  text-align: left;
  background-color: #eeeeee;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 315px;
  height: 95%;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: 85%;
}

/* The Modal Close Button */
.close-modal-button,
.directions-button {
  padding: 15px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  border:1px solid #a9a9a9a9;
  border-radius: 3px;
  margin-bottom: 5px;
  text-transform: lowercase;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.close-modal-button:hover,
.close-modal-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#modal-directions-form {
  display: flex;
  flex-direction: row;
}

.modal-direction-footer {
  margin-top: 15px;
}

.mode-radio-button {
  flex: 1;
  text-align: center;
  padding: 5px 0 5px 0;
}

.place_id {
  visibility: hidden;
  display: none;
}


/*-------------------------------------------*/
/*The Modal End*/
/*-------------------------------------------*/

@media only screen and (min-width: 450px) {
  .search-option-section {
    width: 400px;
  }

  #map {
    width: 400px;
    height: 225px;
  }

  #results-list {
    width: 400px;
  }

  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 5 1 0;
    height: 100%;
    margin-top: 130px;
  }

  .main-outer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 5;
    height: 130%;
  }

  .snack-img {
    height: 42px;
    width: 42px;
  }

  .ciclismo-img {
    width: 400px;
    height: auto;
    padding-bottom: 20px;
  }

  .snack-finder-img {
    width: auto;
    height: auto;
    padding-bottom: 0;
  }

}

@media only screen and (min-width: 550px) {
  .nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    visibility: visible;
    margin-right: 5px;
  }

  .start-button {
    width: 100%;
  }

  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 5 1 0;
    height: 100%;
    margin-top: 130px;
  }

  .ciclismo-img {
    width: auto;
    height: auto;
    padding-bottom: 50px;
  }

  .main-left, .main-right {
    flex: 1;
    visibility: visible;
    display: block;
  }

  .main-left {
    border-right: 1px solid #eeeeee;
  }

  .main-right {
    border-right: 1px solid #eeeeee;
  }

  .hamburger {
    visibility: hidden;
    display: none;
  }

  .search-option-section {
    width: 500px;
  }

  #map {
    width: 500px;
    height: 300px;
  }

  #results-list {
    width: 500px;
  }

}
